devsign.co.kr {
    encode gzip

    # 백엔드 API
    handle /api/* {
        reverse_proxy devsign-backend:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    # ✨ 추가: 서버에 저장된 사진을 Caddy가 직접 빠르게 서빙
    handle /uploads/* {
        root * /
        file_server
    }

    # 프론트엔드 (Vite default port 5173)
    handle {
        reverse_proxy devsign-frontend:5173
    }
}

oj.devsign.co.kr {
    # 172.17.0.1은 우분투 본체로 나가는 '내부 비밀 통로' 
    reverse_proxy 172.17.0.1:8001
}
